.nasaItem {
    width: calc(33.333% - 20px);
    margin: 10px;
    box-shadow: 0 0 7px;
    border-radius: 5px;
}
@media (max-width: 1050px) {
    .nasaItem {
        width: calc(50% - 20px);
    }
}
@media (max-width: 620px) {
    .nasaItem {
        width: calc(100% - 20px);
    }
}


.nasaTop {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    height: 250px;
}
@media (max-width: 800px) {
    .nasaTop {
        height: 200px;
    }
}

.nasaImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.nasaInfo {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    transform: translateY(100%);
    background-color: rgba(0, 0, 0, 0.61);
    color: #fff;
    padding: 15px;
    transition: 0.5s;
    border-radius: 5px 5px 0 0;
}
.nasaTop:hover .nasaInfo {
    transform: translateY(0);
}

.nasaExplanation {
    overflow: auto;
    margin-top: 15px;
}

.nasaLike {
    width: 24px;
    height: 24px;
    margin-right: 15px;
    background-image: url('./img/inlike-icon.png');
    background-size: cover;
    cursor: pointer;
    transition: 0.2s;
}
.nasaLike:hover {
    transform: scale(1.1);
}
.active {
    background-image: url('./img/like-icon.png');
}

.nasaBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
}

.nasaDelete {
    color: #fff;
    background-color: transparent;
    background-image: none;
    outline: none;
    border: solid 1.5px #dc3545;
    background-color: #dc3545;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}